body{
    background-color: black;
    color:white;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

div{
    width: 50%;
    margin-top: 25vh;
    margin-left: 25%;
}

img{
    width: 75%;
    border:5px solid white;
}

h1{
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
}

